{% extends 'base.html' %}
{% set active_page="metrics" %}

{% block title %}Metric Navigator{% endblock %}


{% block header %}Metric Navigator{% endblock %}

{% block content %}

<H3>Official Collections</H3>
<ul>
    {% for entry in collection_entries %}
    <li><a href="{{ url_for(".infoPage", repo=entry["repo"], collection=entry["url"]) }}">
            {{entry["name"]}}
        </a>
    </li>
    {% endfor %}
</ul>


<H3>User Collections</H3>
<ul>
    {% for entry in user_collection_entries %}
    <li><a href="{{ url_for(".infoPage", repo=entry["repo"], collection=entry["url"]) }}">
            {{entry["name"]}}
        </a>
    </li>
    {% endfor %}
</ul>

{% endblock %}
