{% extends 'base.html' %}
{% set active_page="metrics" %}

{% block title %}Tract Metrics{% endblock %}


{% block header %}Tract Metric Summaries{% endblock %}

{% block content %}

<table>
    <thead>
        <tr>
            <td><a href={{url_for(histograms)}}>Tract</a></td>
            <td><a href={{url_for(histograms)}}>nPatches</a></td>
        </tr>
    </thead>
    {% for tract in tracts %}
    <tr>
        <td>{{tract['number']}}</td>
        <td>
            {% for band in bands %}
            <b>{{band}}</b>: 3:</br>
            {% endfor %}
        </td>
    </tr>
    {% endfor %}

</table>

{% endblock %}
