{% extends 'base.html' %}
{% set active_page="metrics" %}

{% block title %}Tract Metrics{% endblock %}


{% block header %}Tract {{tract}} Summary{% endblock %}

{% block content %}
<table>
    <thead>
        <tr>
        {% for header in header_dict %}
            <th><a href={{url_for(header_dict[header])}}>{{header|safe}}</a></th>
        {% endfor %}
        </tr>
    </thead>
    {% for tract in content_dict %}
    <tr>
        {% for cell in content_dict[tract] %}
        <td>{{cell|safe}}</td>
        {% endfor %}
    </tr>
    {% endfor %}

</table>


{% endblock %}
