
{% extends 'base.html' %}
{% set active_page="logs" %}

{% block additional_refs %}
<script src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>
<script src="{{ url_for('static', filename='jquery-3.6.0.min.js') }}"></script>
<script src="{{ url_for('static', filename='jquery-ui.min.js') }}"></script>
<link rel="stylesheet" href="{{ url_for('static', filename='jquery-ui.min.css') }}"></script>
{% endblock %}

{% block title %}Logs{% endblock %}

{% block content %}
<H1>{{ dataId }}</h1>
<h3>Collection {{ collection }}</h3>

<div class="accordion">
{% for log in logs %}
    <div class="accordion-item">
       <h3 id="log_heading_{{ loop.index }}" class="accordion-header">
           <button id="button_{{loop.index}}" class="log-buttons accordion-button collapsed" data-bs-toggle="collapse"
                                                      data-bs-target="#log_body_{{ loop.index }}"
                                                      aria-expanded="false"
                                                      aria-controls="log_body_{{loop.index}}"
                                                      data-uuid="{{ log['uuid'] }}">
               {{ log['datasetName'] }} &mdash; {{log['dataId'] }}
           </button>
       </h3>
      <div class="accordion-collapse collapse" id="log_body_{{ loop.index }}"
           aria-labelled-by="log_heading_{{ loop.index }}">
          <div class="accordion-body" id="log_messages_{{ log['uuid'] }}">
          </div>
      </div>
    </div>
{% endfor %}
</div>
<script>

var logfile_url = "{{ url_for('logs.logfile') }}";

function fetchLogs(event) {
    if($.trim($("#log_messages_" + event.data.uuid).html()) == "") {
        fetch(logfile_url + '?uuid=' + event.data.uuid)
                .then(response => response.text())
                .then(text => {
                        $("#log_messages_" + event.data.uuid).html(text);
                    });
    }
}
$(".log-buttons").each(function() {
    $(this).on('click', {"uuid": $(this).data("uuid")}, fetchLogs);
});

</script>
{% endblock %}
